<!-- Modal de Autenticação -->
<div ng-controller="AuthModalController as authModal">
  <div ng-if="authModal.modalState.showModal" class="modal-overlay" ng-click="authModal.closeModal()">
    <div class="modal-content" ng-click="$event.stopPropagation()">
      <div class="modal-header">
        <h2 ng-if="authModal.modalState.isLogin">Acessar</h2>
        <h2 ng-if="!authModal.modalState.isLogin">Cadastrar</h2>
        <button class="modal-close" ng-click="authModal.closeModal()">&times;</button>
      </div>
      
      <div class="modal-body">
        <!-- Mensagens de sucesso/erro -->
        <div ng-if="authModal.modalState.success" class="alert alert-success">
          {{ authModal.modalState.success }}
        </div>
        
        <div ng-if="authModal.modalState.error" class="alert alert-error">
          {{ authModal.modalState.error }}
        </div>

        <!-- Formulário de Login -->
        <form ng-if="authModal.modalState.isLogin" ng-submit="authModal.login()">
          <div class="form-group">
            <label class="label" for="modal-email">E-mail</label>
            <input class="input" id="modal-email" type="email" ng-model="authModal.modalState.form.email" placeholder="seu@email.com" required />
          </div>
          
          <div class="form-group">
            <label class="label" for="modal-senha">Senha</label>
            <input class="input" id="modal-senha" type="password" ng-model="authModal.modalState.form.senha" placeholder="••••••" required />
          </div>
          
          <div class="form-actions">
            <button class="btn btn-primary" type="submit">Entrar</button>
          </div>
          
          <div class="form-footer">
            <a href="#" ng-click="authModal.toggleMode()" class="link">Não tem conta? Cadastre-se</a>
          </div>
        </form>

        <!-- Formulário de Cadastro -->
        <form ng-if="!authModal.modalState.isLogin" ng-submit="authModal.register()">
          <div class="form-group">
            <label class="label" for="modal-nome">Nome</label>
            <input class="input" id="modal-nome" type="text" ng-model="authModal.modalState.form.nome" placeholder="Seu nome completo" required />
          </div>
          
          <div class="form-group">
            <label class="label" for="modal-email-cadastro">E-mail</label>
            <input class="input" id="modal-email-cadastro" type="email" ng-model="authModal.modalState.form.email" placeholder="seu@email.com" required />
          </div>
          
          <div class="form-group">
            <label class="label" for="modal-telefone">Telefone</label>
            <input class="input" id="modal-telefone" type="tel" ng-model="authModal.modalState.form.telefone" placeholder="(11) 99999-9999" required />
          </div>
          
          <div class="form-group">
            <label class="label" for="modal-senha-cadastro">Senha</label>
            <input class="input" id="modal-senha-cadastro" type="password" ng-model="authModal.modalState.form.senha" placeholder="••••••" required />
          </div>
          
          <div class="form-group">
            <label class="label" for="modal-confirmar-senha">Confirmar Senha</label>
            <input class="input" id="modal-confirmar-senha" type="password" ng-model="authModal.modalState.form.confirmarSenha" placeholder="••••••" required />
          </div>
          
          <div class="form-actions">
            <button class="btn btn-primary" type="submit">Cadastrar</button>
          </div>
          
          <div class="form-footer">
            <a href="#" ng-click="authModal.toggleMode()" class="link">Já tem conta? Faça login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
